<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
    <style>
        .active {
            background-color: #8b9df3 !important;
            border: 1px solid #8b9df3 !important;
        }
        .logout {
            border: 1px solid red !important;
            color: red;
        }
        .logout:hover {
            color: red;
        }
        figure {
            margin: 0;
        }
        .figure > img {
            border-radius: 100px;
        }
        .marginDiv {
            margin-top: 5rem !important;
            margin-bottom: 5rem !important;
        }
        .name {
            text-decoration: none;
            color: #8b9df3;
            font-size: 2rem;
        }
        .name:hover {
            color: #f57c47;
            transition: 0.2s;
        }
        .nameSpot {
            display: flex;
            align-items: center;
        }
        .violet {
            border: 1px solid #8b9df3;
            color: #8b9df3;
            width: 100%;
        }
        .violet:hover {
            border: 1px solid #f57c47;
            color: #f57c47;
        }
        .chercher {
            display: flex;
            justify-content: right;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('feed') }}">Fakebook</a>
    </div>
</nav>
<div class="container marginDiv m-auto">
    <div class="row">
        <div class="col-4">
            <div class="offcanvas-header">
                <div class="row">
                    <div class="col-4">
                        <figure class="figure">
                            <img src="{{ asset("images/" ~ app.user.imageName)}}" alt={{ app.user.imageName }} width="100%">
                        </figure>
                    </div>
                    <div class="col-8 nameSpot">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><a class="name" href="{{ path('user') }}">{{ app.user.firstName }} {{ app.user.lastName }}</a></h5>
                    </div>
                </div>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {{ render(controller(
                        'App\\Controller\\UserController::search',
                    )) }}
                    <br/>
                    <div class="list-group">
                        <a href="{{ path('feed') }}" class="list-group-item list-group-item-action active">Accueil</a>
                        {% if app.user %}
                            <a href="{{ path('images_index') }}" class="list-group-item list-group-item-action">Vos photos</a>
                            <a href="{{ path('lst_user') }}" class="list-group-item list-group-item-action">Liste de tous les utilisateurs</a>
                            <a href="{{ path('app_logout') }}" class="list-group-item list-group-item-action logout">Déconnection</a>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
        <div class="col-8">
            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
