{% extends 'composants/navbar.html.twig' %}

{% block title %}{{ app.user.firstName }} {{ app.user.lastName }}{% endblock %}

{% block body %}
    {% apply inline_css %}
        <html>
        <head>
            <style>
                .cadre {
                    width: 200px;
                    margin-bottom: 1rem;
                }
                .cadre > img {
                    border-radius: 100px;
                    max-height: 200px;
                }
                .btn-outline {
                    color: #F57C47;
                    border: 1px solid #F57C47;
                }
                .violet {
                    color: #8B9DF3;
                    border: 1px solid #8B9DF3;
                }
                .align {
                    margin-top: 38px;
                }
                .post {
                    background-color: rgb(245, 124, 71, 30%);
                    padding: 2rem;
                    border-radius: 8px;
                }
                .btn-post {
                    background-color: #F57C47;
                    color: white;
                }
                .marginTop {
                    margin-top: 2rem;
                }
                .photos {
                    padding: 0;
                }
                .photo:hover {
                    transition: 0.2s;
                    opacity: 30%;
                }
            </style>
        </head>
        <div style=" margin-top: 5rem; padding: 2rem " class="marginDiv">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <figure class="cadre">
                            <img src="{{ asset("images/" ~ user.imageName)}}" alt={{ user.imageName }} width="100%">
                        </figure>
                        <h1>{{ user.firstName }} {{ user.lastName }}</h1>
                        <br/>
                        <hr/>
                        <h3>Photos</h3>
                        <div class="container photos">
                            <div class="row">
                                {% for image in user.images  %}
                                    <div class="col-6 photo" style="margin-top: 2rem">
                                        <a href="{{ path('images_show', {'id': image.id}) }}">
                                            <img src="{{ asset("images/" ~ image.imageName)}}" alt={{ image.imageName }} width="100%">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        {% for post in user.post %}
                            <div class="list-group">
                                <div class="container">
                                    <a href="#" class="list-group-item list-group-item-action" aria-current="true" style="margin-top: 50px">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{ post.user.firstName }}</h5>
                                            <small>{{ post.createdAt|date('d-m-Y') }}</small>
                                        </div>
                                        <div class="d-flex w-100 justify-content-between">
                                            <p class="mb-1">{{ post.name }}</p>
                                            {% if post.imageName %}
                                                <img src="{{ asset("images/" ~ post.imageName)}}" alt={{ post.imageName }} width="100px">
                                            {% endif %}
                                        </div>
                                        <small>{{ post.user.city }}</small>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}

{% endblock %}